[global]
repo1-type=gcs
repo1-path=/json-keys
repo1-gcs-bucket=${bucket}
repo1-gcs-key-type=auto
expire-auto=n
log-level-console=info
log-level-file=off
tls-server-address=0.0.0.0
tls-server-port=8432
tls-server-auth=${client_cn}=json-keys
tls-server-ca-file=/run/credentials/ca.pem
tls-server-cert-file=/run/credentials/identity.pem
tls-server-key-file=/run/credentials/identity.pem

[json-keys]
